<div class="row text-center">
    <div class="col-md-6 offset-3">
        <div class="text-info"><h1>You've reached the end of the internet</h1></div>
        <a class="btn btn-outline-success" asp-controller="Home"asp-action="Index">Home Page</a>
    </div>
</div>